* {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

body {
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.tabela {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
}

/* table thead tr th {
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
    width: 10rem;
    text-align: center;
}
 */

td {
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 1rem 2rem;
}

thead {
    background-color: rgba(0, 0, 0, 0.3);
}
 
table tbody tr td {
    text-align: center;
}

.btn_acao {
    background: dodgerblue;
    border: none;
}

.columnAcao form {
    display: flex;
    gap: 5px;
}